<!DOCTYPE html>
<html lang="es">
<header>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Responsivo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../static/css/styles-index.css">
</head>

    <div class="menu-container">
        <!-- Menú Web (Icono + Texto) -->
        <div class="menu-web">
            <div class="menu-item-web">
                <a href="{{ url_for('calculadora_basica') }}">  <!-- Usa url_for para la ruta -->
                    <img src="{{ url_for('static', filename='images/calculadora-basica.png') }}" alt="Calculadora Básica">
                    <span>Básico</span>
                 </a>
                
            </div>
            <div class="menu-item-web">
                <!-- <a href="{{ url_for('graficas') }}"> -->
                    <img src="{{ url_for('static', filename='images/grafica.png') }}" alt="Gráfica">
                    <span>Gráficas</span>
                <!-- </a> -->
            </div>
            <div class="menu-item-web">
                <i class="fas fa-heart"></i>
                <span>Favoritos</span>
            </div>
            <div class="menu-item-web">
                <i class="fas fa-user"></i>
                <span>Perfil</span>
            </div>
        </div>
        
        <!-- Menú Móvil (Solo Icono) -->
        <div class="menu-mobile">
            <div class="menu-item-mobile">
                <a href="{{ url_for('calculadora_basica') }}">  <!-- Usa url_for para la ruta -->
                    <img src="{{ url_for('static', filename='images/calculadora-basica.png') }}" alt="Calculadora Básica">
                 </a>        
            </div>
            <div class="menu-item-mobile">
                <i class="fas fa-search"></i>
            </div>
            <div class="menu-item-mobile">
                <i class="fas fa-heart"></i>
            </div>
            <div class="menu-item-mobile">
                <i class="fas fa-user"></i>
            </div>
        </div>
    </div>
</header>
<body></body>
</body>
</html>